.Carousel {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 0px;
  overflow: hidden;
  transition: all 1s ease;
}

.carouselContent {
  display: flex;
  overflow: hidden;
  gap: 5px;
  width: 100vw;
}

.Carousel::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, var(--secondary-accent-color), transparent 80%, var(--primary-accent-color));
  border-radius: 0;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width:850px) {
  .Carousel::after {
    opacity: 0;
  }
}

.Carousel button {
  background: none;
  outline: none;
  padding: 0;
  position: absolute;
  color: white;
  ;
  z-index: 2;
}

.Carousel button:first-of-type {
  left: 0%;
}

.Carousel button:last-of-type {
  right: 85px;
}

.carouselContent div svg {
  display: flex;
  color: var(--primary-background-color);
  opacity: 70%;
  width: 40px;
  height: 40px;
}

.carouselContent div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Carousel button svg {
  color: var(--primary-background-color);
  transform-origin: center;
  transition: all 0.2s ease-in-out;
}

.Carousel button:hover svg {
  transform: scale(125%);
  color: white;
}