.carousel {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 5px 0px;
    max-height: 999px !important;
    overflow: hidden;
    transition: all 1s ease;
  }

  .collapsed{
    max-height: 0px !important;
    padding: 0px;
  }
  
  .carouselContent {
    display: flex;
    overflow: hidden;
    gap: 5px;
  }
  
  .carousel>div:first-of-type:hover>div:not(:hover) {
    filter: blur(2px) opacity(50%);
  }
  
  .carousel button {
    background: none;
    outline: none;
    padding: 0;
    z-index: 1;
    position: absolute;
    color: white;
  }

  .carousel button:first-of-type{
    left: -10%;
  }

  .carousel button:last-of-type{
    right: -10%;
  }
  
  .carouselContent div svg{
    display: flex;
    color: var(--primary-background-color);
    opacity: 70%;
    width: 50px;
    height: 50px;
  }

  .carouselContent svg:hover{
    color: var(--primary-text-color);
    opacity: 100%;
  }

  .carouselContent:has(svg:hover){
    padding: 0px 0px;
  }

  .carouselContent div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel button svg {
    color: var(--primary-background-color);
    transform-origin: center;
    transition: all 0.2s ease-in-out;
  }
  
  .carousel button:hover svg {
    transform: scale(125%);
    color: white;
  }