.container {
    padding: 5px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container section {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    position: relative;
}

.container section {
    margin: 0px 50px;
}

.container section {
    display: flex;
    flex-direction: row;
}

.container section nav{
    width: 350px;
}

.container section nav ul li a:first-of-type{
    margin-left: -10px !important;
}

.container a{
    display: flex;
    opacity: 80%;
    white-space: nowrap;
    transition: all 0.1s ease-in-out;
}

.container .activeTab{
    background: rgba(0, 0, 0, 0.5);
    color: var(--primary-accent-color);
}

.container .activeTab:not(:first-of-type){
    color: purple;
}

.container .inactiveTab{
    color: var(--primary-text-color) !important;
}

.container .inactiveTab:hover{
    color: var(--secondary-text-color) !important;
}

.container .filteredContent{
    display: flex;
    flex-direction: row;
    gap: 0.5rem 1.5%;
    position: relative;
    flex-wrap: wrap;
    transition: max-height 0.2s ease-in-out, padding 0.4s ease-in-out;
}

.container .close{
    position: absolute;
    top: -10%;
    right: -4%;
    width: min-content !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
;}

.container .close svg{
    height: 32px !important;
    width: 32px !important;
    border-radius: 0.3rem;
    opacity: 80%;
    opacity: 50%;
}

.container .collapsed {
    max-height: 0px;
}

.container .expanded {
    max-height: 99999px;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 5px 10px;
    }
}

@media screen  and (max-width: 800px) {
    .container section{
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 500px) {
    .container .filteredContent .card {
        width: 100% !important;
    }
}

@media screen and (min-width: 550px) {
    .container .filteredContent .card {
        width: 48% !important;
    }
}

@media screen and (min-width: 700px) {
    .container .filteredContent .card {
        width: 32.2% !important;
    }
}

@media screen and (min-width: 900px) {
    .container .filteredContent .card {
        width: 23.8% !important;
    }
}

@media screen and (min-width: 1000px) {
    .container .filteredContent .card {
        width: 18.8% !important;
    }
}

@media screen and (min-width: 1300px) {
    .container .filteredContent .card {
        width: 13% !important;
    }
}


.container section div {
    width: 100%;
}

.container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 23.8% !important;
    background: white;
    border-radius: 0.5rem;
    background: var(--primary-background-color);
    position: relative;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    box-shadow: 0px 5px 10px black;
    z-index: 2;
}

.container .card h4 {
    font-size: 2rem;
    line-height: 3rem;
    user-select: none;
}

:has(.container .card:hover) .card {
    filter: blur(3px) contrast(30%) brightness(60%);
}

.container .card:hover {
    filter: brightness(100%) !important;
    cursor: pointer;
    box-shadow: 0px 5px 20px black;
    transform: scale(105%);
}

.container section .card video {
    position: absolute;
    object-fit: cover;
    object-position: 0% 15%;
    height: 150%;
    width: 180%;
    opacity: 1;
    transition: all 1s ease-in-out 0.2s;
}

.container section .card img {
    object-fit: cover !important;
    height: 100%;
    width: 100%;
}

.container span, .container span input{ 
    display: flex;
    background: var(--primary-text-color);
    color: var(--primary-background-color);
    width: 100%;
    border: none;
    outline: none;
    padding: 2px;
    padding-left: 15px;
    align-items: center;
    position: relative;
}

.container span svg{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

form textarea{
    min-height: 150px;
}

form input{
    width: 100%;
}