.pageContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}

.pageContainer section {
  display: flex;
  height: 0% !important;
  position: relative;
  gap: 0.5rem 1.5%;
  margin: -1px 75px -1px 0;
  flex-direction: row;
  background-color: var(--primary-background-color) !important;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
}

.pageContainer section div{
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
}

.pageContainer section a b {
  color: var(--primary-accent-color) !important;
}

.pageContainer section a:hover b {
  color: purple !important;
}

.pageContainer section i {
  color: var(--secondary-text-color-alpha);
}

.pageContainer section h3 {
  color: var(--primary-text-color) !important;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.pageContainer section nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.pageContainer section nav li,
.pageContainer section nav li a {
  border-radius: 0.2rem;
  padding: 5px;
  color: var(--primary-text-color);
}

.pageContainer section nav li:hover:not(.activeTab) a {
  color: white;
  border-radius: 0.3rem;
}

@media screen and (max-width: 600px) {
  .pageContainer {
    padding: 5px;
  }
}

.pageContainer section h3 {
  color: var(--primary-accent-color);
  position: relative;
  width: fit-content;
  padding: 5px 15px;
}

.pageContainer section p {
  padding: 0px 15px;
  margin-left: 25px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.codeContainer {
  background-color: var(--primary-background-color);
  padding: 0 10px;
  border-radius: 4px;
  overflow-x: auto;
  margin-left: 20px;
}

.codeContainer iframe{
  width: 100%;
  background: #282828;
  border-radius: 0 !important;
  width: 100%;
}

.code {
  font-family: 'Courier New', monospace;
  white-space: pre-wrap;
  font-size: 0.9rem;
  line-height: 1.3;
  color: var(--primary-text-color);
}

.bold {
  font-weight: bold;
  color: var(--secondary-text-color);
}

.return {
  font-size: 0.7rem;
  color: var(--common-text-purple);
}

.objectEntry {
  margin-left: 20px;
}

.objectValue {
  display: flex;
  margin-left: 20px;
}