.container {
    padding: 5px;
    padding-bottom: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1;
}

section {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    position: relative;
    color: var(--primary-text-color);
    padding: 0px 50px;
}

section > div{
    margin: 50px;
}
